langgraph
langchain
langchain-community
langchain-openai
langchainhub
faiss-cpu
passlib===1.7.4
pydantic
python-dotenv
tiktoken
redis
pydub
pypdf
fpdf
fastapi
uvicorn==0.20.0
python-multipart
bcrypt==4.0.1
cryptography==39.0.2
chromadb
Pillow
