streamlit==1.36.0
extra_streamlit_components
streamlit-mic-recorder==0.0.8
streamlit-audiorecorder
st-pages
streamlit-extras
redis
pypdf
fpdf
python-multipart
pydantic
python-dotenv
sql
SQLAlchemy
bcrypt==4.0.1
cryptography==39.0.2
